@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Caption');

/* Basic Theme ********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  color: rgb(33, 33, 33);
}

a, a:link, a:active, a:hover, a:visited {
  margin: 0;
  text-decoration: none;
  /* font-weight: 400; */
  color: rgb(33, 33, 33); 
}

a:hover,
a:active {
  fill: #e60073;
  color: #e60073;
}

.content {  
  background-color: Snow;
}

/* main {  
  background-color: #6500fa; 
  background-color: #3acf73;
} */

h1 {   /* Comic style header */
  position: absolute;
  top: -0.7em;
  right: 0.1em;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 150px;
  font-weight: 700;
  text-transform: lowercase;
  color: #ff0064;
  text-shadow: -5px 4px 0 Snow, -14px 7px 0 #0000ff;
}

h2, h3 {
  padding: 1em;
}

h3 {
  font-size: 16px;
  font-weight: 700;
}

header, footer {
  background-color: #212121;  
}

p {
  width: 75%;
  margin: 1em 0;
  font-size: 16px;
  font-weight: 400;
  text-indent: 14px;
  line-height: 1.6;
  text-align: justify;
}

.social-media a {
  fill: LightGray;
}

.social-media a:hover,
.social-media a:active,
.tooltip {
  fill: #e60073;
  color: #e60073;
  visibility: visible;
}

/* Block ************************************************/

body {
  width: 100%;
  height: 100%;
  background-color: snow;
}

footer {
  position: relative;
  flex-shrink: 0;
  justify-content: space-evenly;
}

footer,
header {
  padding: 0.5em 5%;
  position: relative;
}

header {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* overflow: hidden; */
}

html {
  height: 100%;
}

main {
  padding: 8em 0 6em 0;
  flex: 1 0 auto;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  display: none;
}

svg {
  width: 36px;
  height: auto;
  position: relative;
}

.parallax {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../images/backgrounds/banner.png");
  background-attachment: fixed;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.placeholder {
  width: 768px;
  height: 400px;
  background-color: lightgray;
}

/* Element **********************************************/

.bg-card {
  width: 350px;
  height: 250px;
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/backgrounds/TD-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* -webkit-filter: brightness(50%);
  filter: brightness(50%); */
}

.button {
  width: 800px;
  padding: 1.5em 0;
  font-weight: 700;
  text-align: center;
  /* color: Snow; */
  background-color: lightgray;
}

.button:hover,
.button:active {
  color: Snow;
  background-color: #ff0064;
}

.content {
  width: 75%;
  padding: 8em 0 16em 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content:last-child {
  padding-bottom: 0;
}

/* .content div:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
} */

.copyright {
  width: 100%;
  margin: 0;
  color: white;
}

.copyright::before {
  content: "\00a9" "\00a0";
}

.logo {
  /* width: 250px; */
  height: auto;
}

.logo-portfolio {
  flex-direction: row;
  justify-content: center;
}

.parallelogram {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 20px;
  /* transform: skew(20deg); */
  background-color: #6500fa;
}

.parallelogram::before {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid red;
}

.tint {
  width: 800px;
  height: 422px;
  /* background-color: #FFB74D; */
}

.tooltip {
  /* visibility: hidden; */
  width: 120px;
  background-color: #ff0064;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  /* Position the tooltip */
  z-index: 1;
}

.social-media {
  width: 100%;
  margin: 1em 0;
  justify-content: space-evenly;
}

.screenshot-card {
  padding: 2em 0;
  flex-direction: column;
  align-items: center;
}

.screenshot-card a {
  margin-bottom: 2em;
}

.screenshot-card img {  
  width: 800px;
  height: 422px;
  opacity: 1;
}

.social-media a:hover tooltip {
  visibility: visible;
}

/* Modifier *********************************************/

.--flex {
  display: flex;
  flex-wrap: wrap;
}

.bg-card:nth-child(2) {
  background-image: url("../images/backgrounds/NS-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-card:nth-child(3) {
  background-image: url("../images/backgrounds/FG-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-card:nth-child(4) {
  background-image: url("../images/backgrounds/ST-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-card:nth-child(5) {
  /* background-image: url("../images/RS-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  background-image: none;
  background-color: #FFB74D;
}

.bg-card:nth-child(6) {
  background-image: url("../images/backgrounds/WS-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Responsive Layout*************************************/

@media (max-width: 800px) {
  .content {
    /* width: 100%; */
    padding: 4em 2em;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {   /* Comic style header */
    position: absolute;
    top: -0.5em;
    left: -0.2em;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 90px;
    font-weight: 700;
    text-transform: lowercase;
    color: #ff0064;
    text-shadow: -3px 2px 0 Snow, -11px 4px 0 #0000ff;
  }
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
