@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Caption');

/* Basic Theme ********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, a:link, a:active, a:hover, a:visited, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(33, 33, 33);
}

h1 { /* Comic style header */
  /* padding-bottom: 60px; */
  position: absolute;
  top: -0.4em;
  right: 0.1em;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 150px;
  font-weight: 700;
  text-transform: lowercase;
  color: #ff0064;
  text-shadow: -4px 3px 0 Snow, -14px 7px 0 #0000ff;
  /* text-shadow: 0 1px 0px #0000ff, 1px 0 0px #0000ff, 1px 2px 1px #0000ff, 2px 1px 1px #0000ff, 2px 3px 2px #0000ff, 3px 2px 2px #0000ff, 3px 4px 2px #0000ff, 4px 3px 3px #ff0064, 4px 5px 3px #ff0064, 5px 4px 2px #ff0064, 5px 6px 2px #ff0064, 6px 5px 2px #ff0064, 6px 7px 1px #ff0064, 7px 6px 1px #ff0064, 7px 8px 0px #ff0064, 8px 7px 0px #ff0064; */
  /* transform: skew(20deg); */
  text-align: left;
  z-index: 1;
}

h2 {
  padding-bottom: 28px;
  font-size: 28px;
  text-align: center;
}

h3 {
  padding-bottom: 18px;
  font-size: 18px;
}

p {
  text-indent: 14px;
  line-height: 1.6;
  text-align: justify;
  z-index: 1;
}

b {
  font-weight: 700;
}

svg {
  width: 35px;
  height: auto;
}

a:hover,
a:active {
  fill: rgb(230, 0, 115);
  color: rgb(230, 0, 115);
}

/* Block ************************************************/

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: Snow;
}

header,
footer {
  padding: 1% 5%;
  position: relative;
  background-color: #212121;
}

header {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* overflow: hidden; */
}
nav {
  display: none;
}

main {
  padding: 120px 0;
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-row-gap: 120px;
  position: relative;
}

footer {
  position: relative;
  flex-shrink: 0;
  justify-content: space-evenly;
}

.parallax {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../images/banner.png");
  background-attachment: fixed;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

/* Element **********************************************/

.__side-bar {
  grid-column: 1 / 2;
  align-items: flex-start;
  justify-content: flex-start;
}

.__content {
  grid-column: 2 / 3;
  padding: 180px 10% 60px 10%;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: Snow;
  /* overflow: hidden; */
}

.__content div {
  padding-bottom: 60px;
}

.__content div:last-child {
  padding-bottom: 0;
}

.__profile-card {
  min-height: 350px;
  max-width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.__profile-picture {
  width: 500px;
  height: 200px;
  padding-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: LightGray;
  z-index: 0;
}

.__profile-card p {
  grid-column: 2 / 3;
}

.__social-media {
  grid-column: 2 / 3;
  max-width: 100%;
  justify-content: space-evenly;
}

.__social-media a {
  fill: LightGray;
  z-index: 1;
}

.__social-media a:hover,
.__social-media a:active {
  fill: rgb(230, 0, 115);
  color: rgb(230, 0, 115);
}

.__logo {
  width: 250px;
  height: auto;
}

.__copyright::before {
  content: "\00a9" "\00a0";
}

.__parallelogram {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 20px;
  /* transform: skew(20deg); */
  background-color: #6500fa;
}

.__parallelogram::before {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid red;
}

/* Modifier *********************************************/

.--flex {
  display: flex;
  flex-wrap: wrap;
}

header #--button {
  text-transform: uppercase;
}

#--button {
  padding: 0.8em;
  background-color: rgb(58, 207, 115);
  color: Snow;
  font-weight: 700;
}

#--button:hover,
#--button:active {
  background-color: rgb(230, 0, 115);
}

#--white * {
  color: Snow;
  fill: Snow;
}

/* Responsive Layout*************************************/

@media (max-width: 800px) {

}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
