@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700i,800');

/*
BASE
Definition: Default styling of the website. Includes pseudo classes and decendent selectors.
*/

html {
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  /* padding: 1em 0 1em 0; */
  font-size: 48px;
  color: white;
}

h2 {
  padding: 1em 0 1em 0;
  font-size: 34px;
}

h3 {
  padding: 1em 0 1em 0;
  font-size: 26px;
}

p {
  max-width: 800px;
  margin: 0;
  padding: 1em 0 1em 0;
  text-align: justify;
  text-indent: 2em;
  line-height: 25px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:link,
a:active,
a:visited {
  text-decoration: none;
  color: white;
}

svg {
  width: 2.5rem;
  text-align: center;
  fill: white;
}

/*
LAYOUT
Definition: Major building blocks of the website.
*/

header {
  margin: 0;
  padding: 0 4em 0 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
}

header ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header li {
  padding: 0 1em 0 1em;
}

.l-grid {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-auto-rows: minmax(120px, auto);
  /* justify-content: flex-end;
  align-content: flex-end; */
  /* align-items: center; */
  padding: 0 4em 0 4em;
}

footer {
  position: -webkit-sticky;
  position: sticky;
}

/* #logo {
background-color: Tomato;
grid-column: 1 / 2;
grid-row: 1 / 3;
} */

#skills-list {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
}

#sidebar {
  /* padding: 2em 0 2em 2em; */
  /* background-color: Turquoise; */
  grid-column: 1 / 2;
  grid-row: 4 / 7;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

#about {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

#portfolio {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

#contact {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
}

#blank-rows { /* Balancing space between modules */
  grid-column: 2 / 3;
  grid-row: 8 / 9;
}

#secondLevel-container {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

#secondLevel-sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

/*
MODULE
Definition: Minor, unique, standalone components makes up of a section or the entire page. Avoid using IDs.
*/

.parallax {
  width: 100%;
  height: 95%;
  position: absolute;
  background-image: url("../images/banner.png");
  background-attachment: fixed;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.banner {
  margin: 0;
  padding: 4em;
  height: 6em;
}

/* only show if sidebar fits screen */
@media (min-height: 900px) {
  .sidebar-styles ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    position: sticky;
    top: 7%; /* fixing bar to the middle while scrolling */
  }
}

.sidebar-styles li {
  padding: 1.5em;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  transform: rotate(180deg);
}

.sidebar-styles ul li a.current {
  background: black;
}

.container {
  padding: 4em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: white;
}

.card-container {
  width: 100%;
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  position: relative;
}

#traede-background,
#skyTr33-background,
#wanderSpace-background,
#neonSkies-background,
#otherWorks-background {
  width: 100%;
  height: 14em;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-logo {
  margin: auto;
  position: absolute;
  height: 250px;
  top: -65px;
}

.card-description {
  padding: 2em 4em 2em 4em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: black;
  background-color: white;
}

.tag-container {
  /* width: 75%; */
  padding: 1em 0 1em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* justify-content: space-around; */
}

.tag-button {
  height: 30px;
  padding: 0 0.8em 0 0.8em;
  margin: 0.2em 0.4em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: Lavender;
  border-radius: 40px;
}

.card-button {
  width: 100%;
  padding: 1.5em 0 1.5em 0;
  text-transform: uppercase;
  text-align: center;
  background-color: RoyalBlue;
}

.social-media {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.social-media a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* STATE */

.image-filter {
  filter: opacity(100%) brightness(80%);
}

.one-edge-shadow {
  -webkit-box-shadow: 6px 10px 6px -6px black;
  -moz-box-shadow: 6px 10px 6px -6px black;
  box-shadow: 6px 10px 6px -6px rgba(0, 0, 0, 0.4);
}

.reduce-gap {
  margin-top: 5em;
}

/*
THEME
Defintion: Style definition that overwirtes basic ones. Limiting to color and graphic properties (such as border) for now.
*/

header,
header a:link,
header a:active,
header a:visited,
footer {
  background-color: #102027;
}

.sidebar-styles a,
.sidebar-styles a:link,
.sidebar-styles a:active,
.sidebar-styles a:visited,
#contact a,
#contact a:link,
#contact a:active,
#contact a:visited {
  color: black;
}

header a,
header a:link,
header a:active,
header a:visited,
.sidebar-styles a,
.sidebar-styles a:link,
.sidebar-styles a:active,
.sidebar-styles a:visited {
  text-transform: uppercase;
  font-weight: 700;
}

.sidebar-styles li {
  font-style: italic;
}

#logo h1 {
  font-size: 3.2em;
  font-weight: 800;
  text-align: left;
}

#home-url,
#home-url a,
#home-url a:link,
#home-url a:active,
#home-url a:visited, {
  color: RoyalBlue;
}

.intro svg,
.intro .social-media {
  padding: 0 1em 0 1em;
  justify-content: center;
  fill: black;
}

.intro .social-media {
  padding: 2em 0;
}

/* .intro {
  padding-bottom: 2em;
} */

.tag-button p {
  padding: 0 0 0 1em;
  text-indent: 0;
}

.social-media p {
  text-indent: 0.4em;
  /* font-weight: 700;
  font-style: italic; */
}

#traede-background {
  background-image: url(../images/traede-background.png);
}

#traede .circle,
#traede .card-button {
  background-color: #F9A159;
}

#skyTr33-background {
  /* background-image: url(../images/traede-background.png); */
  background-color: LightGray;
}

#wanderSpace-background {
  /* background-image: url(../images/traede-background.png); */
  background-color: LightGray;
}

#neonSkies-background {
  background-image: url(../images/neonSkies-background.jpg);
}

#otherWorks-background {
  /* background-image: url(../images/neonSkies-background.jpg); */
  background-color: LightGray;
}

.circle {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  z-index: 10;
  background-color: RoyalBlue;
}

/* @media screen and (max-width: 768px) {
html {
font-size: 18px;
}

.container,
.card-description,
.tag-container {
padding: 2em;
margin: 0;
}

.l-grid {
padding: 0;
display: block;
}

.sidebar-styles {
display: none;
}
} */

@media screen and (max-width: 768px) and (max-width:1024px) {
  html {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  }

  .parallax {
    background-size: 100%;
    background-position: center;
    background-size: cover;
    object-fit: contain;
  }

  header,
  .container,
  .card-description {
    padding: 2em;
    margin: 0;
  }

  .l-grid {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr;
  }

  .sidebar-styles {
    display: none;
  }

  #about {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  #portfolio {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }

  #contact {
    grid-column: 1 / 2;
    grid-row: 8 / 9;
  }

  #blank {
    grid-column: 1 / 2;
    grid-row: 10 / 11;
  }

  .tag-container {
    width: 100%;
  }

  .card-logo {
    height: 180px;
    top: -35px;
  }

  footer,
  .social-media {
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
/*
@media only screen and (max-heght: 900px) {
  .sidebar-styles ul {
    display: none;
  }
} */
