@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,800');

/*
BASE
Definition: Default styling of the website. Includes pseudo classes and decendent selectors.
*/

html {
  font-size: 16px;
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-align: center;
}

p {
  padding: 0 2em 0 2em;
  text-align: justify;
  text-indent: 2em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:link,
a:active,
a:visited {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #102027;
}

.parallax {
  position: absolute;
  width: 100%;
  background-image: url("../images/banner.png");
  opacity: 1;
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

/*
LAYOUT
Definition: Major building blocks of the website. Mostly uses em unit.
*/

.l-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(150px, auto);
  justify-items: center;
  padding: 2rem 4em 0 4em;
}

footer {
  padding: 1em 4em 1em 4em;
}

#logo {
  /* background-color: Tomato; */
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

#sidebar {
  /* padding: 2rem 0 2rem 2rem; */
  /* background-color: Turquoise; */
  grid-column: 1 / 2;
  grid-row: 3 / 6;
}

ul {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

#content {
  /* display: grid;
  grid-template-rows: repeat(5, 1fr); */
  /* background-color: DodgerBlue; */
  grid-column: 2 / 6;
  grid-row: 2 / 15;
}

footer {
  height: 150px;
}

/*
MODULE
Definition: Minor, unique, standalone components makes up of a section or the entire page. Avoid using IDs.
*/

.banner {
  margin: 0;
  padding: 4rem;
  height: 6em;
  /* background-color: PaleGreen; */
}

.about {
  padding: 4rem;
  /* background-color: PaleGreen; */
  text-align: center;
}

/* STATE */

.image-filter {
  filter: opacity(100%) brightness(80%);
}

/*
THEME
Defintion: Style definition that overwirtes basic ones. Limiting to color and graphic properties (such as border) for now.
*/

#logo h1 {
  font-size: 3.2em;
  font-weight: 800;
  text-align: left;
}

.l-text {
  font-size: 5vw;
}

.s-text {
  font-size: 2.3vw;
  font-weight: 400;
}

.xs-text {
  font-size: 1.5vw;
  font-weight: 400;
}

.upright-text {
  writing-mode: vertical-rl;
  text-orientation: sideways;
}

.copyright {
  color: white;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}
