$font-family-sans-serif: Montserrat; 
$primary: #2979FF;
$secondary: #F50057;
$body-bg: #FAFAFA; 
$jumbotron-bg: $body-bg;
// header {background: #212121};

$enable-responsive-font-sizes: true;

$jumbotron-padding: 8rem;