@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import "../node_modules/materialize-css/sass/materialize.scss";
@import 'customVariables';

/* Variables ********************************************/

@mixin flex-element($direction) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: $direction;
}

@mixin no-space() {
    margin: 0;
    padding: 0;
}

$custom-colors: (
"graphic":       #00B0FF,
"illustration":  #FFEA00,
"logo":          #D500F9,   
"branding":      #651FFF,
"prototype":     #1DE9B6,
"webdesign":     #FF9100
);

// Create custom badges for design jobs
@each $job-type, $color-label in $custom-colors {
    .chip-#{$job-type} {
        background: $color-label;
        color: #fff;
    }
}

$spacer: 1em !default;
$spacers: () !default;
$spacers: map-merge(
(
0: 0,
1: ($spacer * .25),
2: ($spacer * .5),
3: $spacer,
4: ($spacer * 1.5),
5: ($spacer * 3)
),
$spacers
);

/* Block ************************************************/

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {    
    position: relative;
}

nav, footer {
    @extend .grey, .darken-4;
    @extend .white-text;
}

main {
    flex: 1 0 auto;
    section:first-child {
        margin-top: 10em;
    }
}

footer {
    flex-shrink: 0;
}

/* Element **********************************************/

#logo {
    height: 64px;
}

.parallax {
    width: 100%;
    height: 600px;
    position: absolute;
    background-image: url("../images/backgrounds/banner.png");
    background-attachment: fixed;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

h1 {
    position: absolute;
    margin: 0;
    top: -48px;
    right: -48px;
    font-size: 90px;
    font-weight: 700;
    text-transform: lowercase;
    color: $secondary-color;
    text-shadow: -3px 2px 0 Snow, -11px 4px 0 #0000ff;
}

h3 {
    text-transform: capitalize;
}

section {
    @extend .section;
    position: relative;
    padding: 4em 4em;
    background: white;
    margin: 4em 0;
}

.collapsible {    
    img { 
        width: 50%; 
    }    
    h5 { 
        color: $input-disabled-color; 
    }    
    p { 
        width: 100%; 
    }
    .chip-container {
        @include flex-element(row);
        align-items: center;
        h3, .chip {
            margin: 0 map-get($spacers, 1) 0 0;
        }
    }
    .p-banner {        
        @include flex-element(row);
        align-content: center;
        height: 200px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .collection {
        @include flex-element(row);
        justify-items: center;
        align-items: center;
        padding: map-get($spacers, 2);
        @extend .z-depth-0;
        @extend .grey, .lighten-3;
        .thumbnail {
            width: 120px;
            max-height: 80px;     
            margin-right: map-get($spacers, 2);  
            @extend .z-depth-2;
            overflow: hidden;
            img {
                width: 150%;
            }
        }
    }
    .palette {
        display: grid;
        grid-template-columns: repeat(4, 96px);
        grid-template-rows: 64px;
    }
    .mark-container {
        display: grid;
        grid-template-columns: repeat(4, 128px);
        grid-template-rows: 128px;
        justify-items: center;
        align-items: center;
        div {
            @include flex-element(row);
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
        img {
            width: auto;
            height: 96px;
        }
    }
}

/* Modifier *********************************************/