@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import "../node_modules/materialize-css/sass/materialize.scss";

/* Variables ********************************************/

@mixin flex-element($direction) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: $direction;
}

@mixin no-space() {
    margin: 0;
    padding: 0;
}

$custom-colors: (
"graphic":       #00B0FF,
"illustration":  #FFEA00,
"logo":          #D500F9,   
"branding":      #651FFF,
"prototype":     #1DE9B6,
"webdesign":     #FF9100
);

// Create custom badges for design jobs
@each $job-type, $color-label in $custom-colors {
    .chip-#{$job-type} {
        background: $color-label;
        color: #fff;
    }
}

$spacer: 1em !default;
$spacers: () !default;
$spacers: map-merge(
(
0: 0,
1: ($spacer * .25),
2: ($spacer * .5),
3: $spacer,
4: ($spacer * 1.5),
5: ($spacer * 3)
),
$spacers
);

/* Responsive *******************************************/

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
}

/* Block ************************************************/

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

header {    
    position: relative;
    height: 48px !important;
    nav, .container, #logo, ul, li, a {
        height: 48px;
    }
    nav .container {
        @include flex-element(row-reverse);
        ul li a {
            line-height: 3;
        }
    }
}

#logo {
    padding:  map-get($spacers, 2);
    height: 96px;
}

nav {
    @extend .grey, .darken-4;
    @extend .white-text;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    .container {
        @include flex-element(row);
        justify-content: space-between;
        align-content: center;
        height: 48px;
        a {
            text-decoration: none;
        }
        .copyright-holder {
            text-align: right;
        }
        .copyright-holder:before { 
            content:"\00a9" "\00a0"; 
        }
        @include for-phone-only {
            flex-direction: column;
            align-content: flex-start;
            height: auto;
            footer .container a, div {
                width: 100%;
            }
        }
    }
}

/* Element **********************************************/

// Fix issue with navbar overlay
.navbar-fixed {
    z-index: 999; 
}

.parallax {
    width: 100%;
    height: 24%;
    position: absolute;
    top: 0;
    background-image: url("../images/p-banner.png");
    background-attachment: fixed;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    @include for-phone-only {
        width: 100vw;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}

h1 {
    position: absolute;
    margin: 0;
    top: -104px;
    right: -38px;
    font-weight: 700;
    text-transform: lowercase;
    color: $secondary-color;
    text-shadow: -4px 3px 0 Snow, -13px 6px 0 #0000ff;
    @include for-phone-only {
        left: 0.1em;
        top: -0.6em;
        font-size: 44px;
        text-shadow: -3px 2px 0 Snow, -7px 4px 0 #0000ff;
    }
    @include for-tablet-portrait-up {
        font-size: 48px;
    }
    @include for-desktop-up {
        font-size: 96px;
    }
}

h3 {
    text-transform: capitalize;
}

.container {
    @include for-phone-only() {
        width: 95%;
    }
}

section {
    @extend .section;
    position: relative;
    margin: 8em 0;
    @include for-phone-only {
        margin: 4em 0;
    }
}
section:first-child {
    margin-top: 12em;
    @include for-phone-only {
        margin-top: 8em;
    }
}

#hero-banner {
    article {
        padding: 2em; 
        background: white;
    }
    .social-media {
        @include flex-element(row);
        justify-content: space-evenly;
        li a svg {
            width: 32px;
            height: 32px;
            fill: #bdbdbd ; 
        }
    }
}

.collapsible {    
    margin: 0 0 4em 0;
    @include for-phone-only {
        margin: 1.5em 0;
    }
    img { 
        width: 50%; 
    }    
    h5 { 
        color: $input-disabled-color; 
    }    
    p { 
        width: 100%; 
    }
    .collapsible-header {
        flex-direction: column;
        position: relative;
        .chip-container {
            @include flex-element(row);
            align-items: center;
            position: absolute;
            top: 1em;
            right: 1em;
            @include for-phone-only {
                position: static;
                margin-left: 0;
            }
            h3 {
                width: 100%;
            }
        }
    }
    .expand-button {
        width: 100%;
        margin-bottom: -2em;
        background: rgba(0,0,0,0);
        @extend .grey-text, .text-darken-2;
    }
    .waves-effect.waves-pink .waves-ripple {
        background-color: rgba(245,0,87 ,0.65);
    }
    .waves-effect.waves-blue .waves-ripple {
        background-color: rgba(61,90,254 ,1);
    }
    .collapsible-body {
        overflow: hidden;
        @include for-phone-only {
            padding: map-get($spacers, 2);
        }
        .p-banner {        
            @include flex-element(row);
            align-content: center;
            height: 200px;
            overflow: hidden;
            @include for-phone-only {
                width: 100vw;
                position: relative;
                left: 50%;
                right: 50%;
                margin-left: -50vw;
                margin-right: -50vw;
            }
            img {
                width: 100%;
            }
        }
        .collection {
            @include flex-element(row);
            align-items: center;
            padding: map-get($spacers, 2);  
            @extend .grey, .lighten-3;
            .thumbnail {
                width: 108px;
                max-height: 64px;  
                margin: map-get($spacers, 1); 
                @extend .z-depth-2; 
                overflow: hidden;
                img {
                    width: 150%;
                }
            }
            @include for-phone-only {
                @include flex-element(row);
                padding: map-get($spacers, 1);
                .thumbnail {
                    width: 96px;
                    height: 48px;
                }
            }
        }
        .palette {
            display: grid;
            grid-template-columns: repeat(4, 128px);
            grid-template-rows: 32px;
            @include for-phone-only {
                grid-template-columns: repeat(4, 32px);
                grid-template-rows: 16px;
            }
        }
        .mark-container {
            display: grid;
            grid-template-columns: repeat(4, 128px);
            grid-template-rows: 128px;
            justify-items: center;
            align-items: center;
            @include for-phone-only {
                grid-template-columns: repeat(4, 80px);
                grid-template-rows: 80px;
            }
            div {
                @include flex-element(row);
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }
            img {
                width: auto;
                height: 96px;
                @include for-phone-only {
                    height: 64px;
                }
            }
        }
        .url-container a {
            display: block;
            width: 14.5em;
            margin-bottom: map-get($spacers, 3);  
        }
    }    
}

.chip {
    position: relative;
    padding-left: 2.5em;
    margin: map-get($spacers, 1);
    @extend .grey, .lighten-3;   
}

.tool img {
    height: 48px;
    width: auto;
}

#small-project {
    @include flex-element(row);
    justify-content: space-between;
    .card {
        position: relative;
        width: 12em;
        padding: map-get($spacers, 2);
        margin: map-get($spacers, 2);
        .card-title {
            font-size: 16px;
        }
        .card-image {
            @include flex-element(column);
            justify-content: center;
            height: 10em;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        .card-content {
            @include no-space();
            height: 10em;
            .chip {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .card-action {
            @include no-space();
            a {
                position: absolute;
                bottom: 0;
                width: 100%;
            }
        }
    }
} 

#contact {
    margin-top: 10em;
    margin-bottom: 2em;
    article {
        padding: 2em;
        background: white;
    }
} 



.pug-container {
    @include flex-element(row);
    justify-content: center;
    width: 100%;
    height: 128px;
    overflow: hidden;
    position: relative;
    @include for-phone-only {
        height: 72px;
    }
    .pug-array {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        position: absolute;
        bottom: -4em;
        height: inherit;
        @include for-phone-only {
            grid-template-columns: repeat(4, 1fr);
            bottom: -2.5em;
        }
    } 
    .pug {
        width: 128px;
        height: inherit;
        @include for-phone-only {
            width: 72px;
        }
    }   
}

#circle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0.35em;
    height: 24px;
    width: 24px;
    margin: auto;
    border-radius: 50%
}