@import url('http://fonts.googleapis.com/css?family=Montserrat:400,400i,600i,700');
@import url('http://fonts.googleapis.com/css?family=Righteous');
/* @font-face {
  font-family: "Montserrat";
  src:url("fonts/Montserrat-Regular.ttf");
  src:url("fonts/Montserrat-Italic.ttf");
  src:url("fonts/Montserrat-SemiBoldItalic.ttf");
  src:url("fonts/Montserrat-Bold.ttf");
  src:url("fonts/Montserrat-BoldItalic.ttf");
}
@font-face {
  font-family: "Righteous";
  src:url("fonts/Righteous-Regular");
} */
/*
FONT */
html, body{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
h2, h3, h4, h5, h6, p, a{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
h1, .logo p{
  font-family: "Righteous";
}
a{
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-line: none;
}
a:visited{
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-line: none;
}
p{
  line-height: 1.4rem;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-line: none;
}

/*
DECORATIONS */
footer a, footer h6{
  color: rgba(255, 255, 255, 0.3);
}
footer{
  background-color: rgba(0, 0, 0, 0.85);
}
footer svg, .toggle svg{
  opacity: 0.4;
  fill: white;
}
.logo{
  color: rgba(0, 0, 0, 1);
  font-size: 1.3rem;
}
.red-highlight{
  background-color: rgba(255, 0, 0, 0.3);
}
.one-edge-shadow {
  -webkit-box-shadow: 0 8px 6px -6px gray;
  -moz-box-shadow: 0 8px 6px -6px gray;
  box-shadow: 0 8px 6px -6px gray;
}
#semibold{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.parallax {
    /* The image used */
    background-image: url('https://chinhdo.co/images/banner-abandoned-v.6.jpg');

    /* Full height */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
NAVIGATION BAR */
* {
  -moz-box-sizing: border-box; /* for padding without expanding */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, a{
  padding: 0;
  margin: 0;
}
#hamburger{
  width: 2.5rem;
}
html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}
nav{
  width: 100%;
  height: auto;
}
.nav-wrap{
  padding: 1rem 6rem 1rem 6rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 1);
}
.logo p, h1{
  font-size: 3rem;
  font-weight: 700;
}
.logo p{
  margin-top: 1rem;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  display: inline-block;
  padding-left: 2rem;
  list-style: none;
}
.banner{
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h2{
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}
h4{
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}
.banner h2, .banner h4{
  color: rgb(255, 255, 255);
}

/*
BODY */
.container{
  min-height: 100%; /* pushes footer to the bottom, yay! */
}
.about{
  max-width: 50rem;
  padding: 6rem 0 6rem 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: justify;
  text-justify: inter-word;
}
.about h4, .portfolio h4{
  font-weight: 700;
  text-align: center;
  padding-bottom: 3rem;
}
.portfolio{
  max-width: 50rem;
  padding: 6rem 0 6rem 0;
  margin-left: auto;
  margin-right: auto;
}
.portfolio h2{
  padding-bottom: 4rem;
}
p{
  font-size: 1rem;
}

/*
FORM */
form{
  margin: 0 12rem 0 12rem;
}
textarea{
  height: 20rem;
}

/*
FOOTER */
footer{
  width: 100%;
  min-height: auto;
  padding: 3rem 6rem 0 6rem;
  margin: 0;
}
footer .social-media{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
footer a{
  /* width: 24rem; */
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer svg{
  width: 2.5rem;
}
footer p{
  padding-left: 0.5rem;
  margin: 0;
}
footer h6{
  padding: 0 0 1rem 0;
  margin: 0;
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}

/*
RESPONSIVE UI */
.toggle{
  width: 100%;
  padding: 1rem 0 1rem 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.85);
}
@media(max-width: 768px){
  body, html{
    width: 100%;
    height: 100%;
    /* margin: 2rem; */
  }
  .toggle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav-wrap{
    padding: 0;
  }
  .active{
    width: 100%;
    position: absolute;
    display: block;
    text-align: center;
    background-color: rgb(70, 70, 70);
    z-index: 1;
  }
  #hamburger{
    margin-right: 3rem;
  }
  h1{
    padding: 0;
    margin: 0 0 0 3rem;
    font-size: 3rem;
  }
  h2{
    font-size: 4rem;
  }
  h3{
    font-weight: 700;
  }
  h4{
    font-size: 2rem;
  }
  nav .logo{
    display: none;
  }
  .toggle .logo{
    color: rgba(255, 255, 255, 0.4);
  }
  ul{
    display: none;
  }
  li{
    display: block;
    padding: 2rem 0 2rem 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.3);
  }
  footer .social-media{
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  footer a{
    padding: 0;
    margin: 1rem;
  }
  footer p{
    display: none;
  }
  footer h6{
    text-align: center;
  }
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}
