/*
FONT */
<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500i,800');
</style>
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
a{
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-line: none;
}
p{
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-line: none;
}

/*
DECORATIONS */
footer a, footer h6{
  color: rgba(255, 255, 255, 0.3);
}
footer{
  background-color: rgba(0, 0, 0, 0.85);
}
footer svg, .toggle svg{
  opacity: 0.4;
  fill: white;
}
.logo{
  color: rgba(0, 0, 0, 1);
  font-size: 1.3rem;
}
.red-highlight{
  background-color: rgba(255, 0, 0, 0.3);
}
.one-edge-shadow {
  -webkit-box-shadow: 0 8px 6px -6px gray;
  -moz-box-shadow: 0 8px 6px -6px gray;
  box-shadow: 0 8px 6px -6px gray;
}
#semibold{
  font-weight: 500;
}
.parallax {
    /* The image used */
    background-image: url('img_parallax.jpg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
NAVIGATION BAR */
* {
  -moz-box-sizing: border-box; /* for padding without expanding */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, a{
  padding: 0;
  margin: 0;
}
#hamburger{
  width: 3rem;
}
html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}
nav{
  width: 100%;
  height: auto;
}
.nav-wrap{
  padding: 0 6rem 0 6rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 1);
}
.logo p, h1{
  margin-top: 1rem;
  font-size: 5rem;
  font-weight: 700;
}
.nav-wrap a{
  color: inherit;
}
li{
  display: inline-block;
  padding-left: 4rem;
  list-style: none;
}
.banner{
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h4{
  font-weight: 400;
  text-align: center;
}
h2{
  font-size: 5.5rem;
  font-weight: 700;
  text-align: center;
}

/*
BODY */
.container{
  min-height: 100%; /* pushes footer to the bottom, yay! */
}
.about{
  max-width: 75rem;
  padding: 6rem 0 6rem 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: justify;
  text-justify: inter-word;
}
.about h4, .portfolio h4{
  font-weight: 700;
  text-align: center;
  padding-bottom: 3rem;
}
.portfolio{
  max-width: 75rem;
  padding: 6rem 0 6rem 0;
  margin-left: auto;
  margin-right: auto;
}
.portfolio h2{
  padding-bottom: 4rem;
}

/*
FORM */
form{
  margin: 0 12rem 0 12rem;
}
textarea{
  height: 20rem;
}

/*
FOOTER */
footer{
  width: 100%;
  min-height: 9rem;
  padding: 4rem 6rem 0 6rem;
  margin: 0;
}
footer .social-media{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
footer a{
  /* width: 24rem; */
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer svg{
  width: 2.5rem;
}
footer p{
  padding-left: 0.5rem;
  margin: 0;
}
footer h6{
  padding: 2rem 0 2rem 0;
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
}

/*
RESPONSIVE UI */
.toggle{
  width: 100%;
  padding: 2rem 0 2rem 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.85);
}
@media(max-width: 768px){
  body, html{
    width: 100%;
    height: 100%;
    /* margin: 2rem; */
  }
  .toggle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav-wrap{
    padding: 0;
  }
  .active{
    width: 100%;
    position: absolute;
    display: block;
    text-align: center;
    background-color: rgb(70, 70, 70);
    z-index: 1;
  }
  #hamburger{
    margin-right: 3rem;
  }
  h1{
    padding: 0;
    margin: 0 0 0 3rem;
  }
  h2{
    font-size: 4rem;
  }
  h3{
    font-weight: 700;
  }
  h4{
    font-size: 2rem;
  }
  nav .logo{
    display: none;
  }
  .toggle .logo{
    color: rgba(255, 255, 255, 0.4);
  }
  ul{
    display: none;
  }
  li{
    display: block;
    padding: 2rem 0 2rem 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.3);
  }
  footer .social-media{
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  footer a{
    width: auto;
    margin: 1rem;
  }
  footer p{
    display: none;
  }
  footer h6{
    text-align: center;
  }
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}
